.contact--container {
    background-color: #112d4e;
}

.inTouch {
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 50px;
}

.contact--info {
    color: white;
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    padding-bottom: 50px;
}

.material-symbols-outlined {
    font-size: 50px;
    border: none;
    border-radius: 100px;
    background-color: aliceblue;
    color: #112d4e;
    padding: 10px;
}

.material-symbols-outlined:hover {
    color: white;
    background-color: #112d4e;
}   

.address--info, .phone--info, .mail--info {
    margin-top: 30px;
}


/*CONTACT US BOTTOM*/


.message--us {
    color: #112d4e;
}
.contact--form {
    margin-top: 50px;
    padding: 10px;
    color: #1b4574;
}

.btn--message {
    margin-top: 30px;
    background-color: #112d4e;
    color: aliceblue;
}

.btn--message:hover {
    background-color: #1b4574;
    color: white;
}

.form--wrapper {
    padding-top: 0;
}

@media (max-width: 767px) {
    .custom--padding {
        padding-left: 150px;
        padding-right: 150px;
    }
}